PORT=5001
MONGODB_URI=mongodb+srv://user:contraseña@cluster
JWT_SECRET=secreto_largo
JWT_EXPIRES_IN=7d
ADMIN_USER=admin
ADMIN_PASS=contraseña_segura
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
FRONTEND_URL=http://localhost:5173

