PORT=5000
MONGODB_URI=mongodb+srv://USUARIO:PASSWORD@cluster0.xxxxx.mongodb.net/agrotrack?retryWrites=true&w=majority
JWT_SECRET=generar_un_secreto_largo_minimo_32_caracteres
JWT_EXPIRES_IN=7d
ADMIN_USER=admin
ADMIN_PASS=cambiar_esta_contraseña
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
FRONTEND_URL=https://tu-frontend.vercel.app
ALLOW_VERCEL_PREVIEWS=false

